body {
    min-height: 100vh;
    font-size: 16px;
    line-height: 1.6;
}

.title_header_index01 {
    font-size: xxx-large;
    font-weight: bold;
}

.title_header_index02 {
    font-size: xx-large;
    font-weight: lighter;
}

.login {
    background-color: #fff;
    width: fit-content;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.login_title {
    font-weight: bold;
    font-size: xxx-large;
    font-family: sans-serif;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #343a40;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.footer a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
}

.footer .separator {
    margin: 0 5px;
}

img {
    max-width: 100%;
    height: auto;
    width: auto;
    background-repeat: no-repeat;
}

.title_header_pages01 {
    font-size: xx-large;
    font-weight: bold;
}

.gold_leaderboard {
    color: gold;
    font-weight: bolder;
    font-size: x-large;
}

.silver_leaderboard {
    color: silver;
    font-weight: bold;
    font-size: large;
}

.bronze_leaderboard {
    color: saddlebrown;
}